[2015-10-23 02:35] ramadani opened #1 "Error kalau namanya hanya 1 kata"
misal namanya Ramadani, jadi error, kalo Dani Ramadani ga error
errornya di Avatar.php line 149 :D

[2015-10-23 04:34] uyab commented on #1
Fix in 0.2.2

[2015-10-23 04:34] #1 closed

[2016-01-18 14:25] CptChaos opened #5 "Can't install with Laravel 5.1"
I am getting an error while trying to install your Avatar package through composer:

[code]

The required package Stringy also can't be installed on a Laravel 5.1 system.
Or should I install both Stringy 1.10.0 and 2.2.0?

[2016-01-18 15:25] randyrankin opened #6 "Class image does not exist"
Receive error message: Class image does not exist.

Using Laravel 5.2

[2016-01-18 16:04] PJijin commented on #6
Same error. Laravel 5.2
ErrorException in Container.php line 738: Class image does not exist

[2016-01-18 18:25] randyrankin commented on #6
This seems to have been corrected by adding Intervention\Image\ImageServiceProvider::class as a service provider and Intervention\Image\ImageServiceProvider::class as an alias in app.php.

[2016-01-18 19:16] uyab commented on #5
For Laravel 5.1, you should use laravolt/avatar version 0.3.

[2016-01-18 20:16] uyab commented on #6
Yes, we must add `Intervention\Image\ImageServiceProvider::class` as a providers too. Documentation updated.

[2016-01-18 20:16] #6 closed

[2016-01-18 23:57] uyab commented on #5
Documentation updated.

[2016-01-18 23:57] #5 closed

[2016-01-20 11:24] ronnyandre opened #7 "Does this work with ImageMagick?"
I get an error trying to use `Avatar::create($user->name)->toBase64()` I get presented with the following error message:

[code]

Is it possible to use with ImageMagick?

[2016-01-20 15:45] uyab commented on #7
Internally, this library utilize [intervention](http://image.intervention.io/getting_started/installation), and it is support GD or Imagick.
You can publish intervention configuration by following command:
`php artisan vendor:publish --provider="Intervention\Image\ImageServiceProviderLaravel5"`
and then change driver from GD to imagick.

[2016-01-20 15:47] uyab commented on #7
Or maybe [this issue](https://github.com/Intervention/image/issues/484) relevant to your case.

[2016-01-21 15:07] lauhakari opened #8 "Can't composer install..."
From bash..

Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Can only install one of: intervention/image[2.3.2, 2.3.5].
    - Can only install one of: intervention/image[2.3.5, 2.3.2].
    - Can only install one of: intervention/image[2.3.2, 2.3.5].
    - laravolt/avatar 1.2.0 requires intervention/image 2.3.2 -> satisfiable by intervention/image[2.3.2

[2016-01-21 17:35] lauhakari commented on #8
Sorry for the short message, I was in a rush leaving work.

So the issue is (or was) that doing "composer require laravolt/avatar" gave me the error above.
When composer inserts it into the json file it adds it with version ^1.2. Searched a bit, found some tips and when I manually added it again to composer.json but as "laravolt/avatar": "~1.2" - then all seems to have worked.

So this is solved,

[2016-01-21 17:35] #8 closed

[2016-01-21 23:36] #7 closed

[2016-01-21 23:53] uyab commented on #8
Thank you for reporting, I have changed composer version for intervention/image to `^2.1` so it should more flexible when dealing with intervention/image.

[2016-01-22 04:37] uyab opened #10 "Initial from email"
**Input**
"uyab.exe@example.com"

**Current Output**
UY

**Expected Output**
UE

Avatar should detect separator other than space. Maybe via config file.
[code]

[2016-01-23 17:16] renege opened #11 "5.1 "Your requirements could not be resolved to an installable set of packages""
Did ```$ composer require laravolt/avatar ~0.3```
[code]

[2016-01-23 17:43] renege opened #12 "Configurable place to place the assets of fonts.."
@laravolt the folder now in resources isn't pretty.

[2016-01-24 03:48] uyab commented on #12
Any suggestion ?

[2016-01-24 04:00] uyab commented on #11
https://github.com/laravolt/avatar/releases/tag/0.3.3 should fix this issue.

Let me know if the problem persists, and please provide your composer.json `require`.

[2016-01-24 12:10] renege commented on #12
Path ```'resources/laravolt/avatar/fonts/'``` in config file?

[2016-01-25 23:49] #11 closed

[2016-01-25 23:51] uyab commented on #12
Hi @renege, if there is a better location?

[2016-01-26 11:19] renege commented on #12
@uyab most packages do it in /resources/assets/vendor/* but if you make it configurable via config file then it's all up to the user himself

[2016-01-30 18:54] liuyami opened #14 "The create() Non-static method"
Laravel 5.2.

error message:

[2016-01-31 13:55] uyab commented on #14
You should call it via alias `\Avatar::create()`:

Assumed you already add code below to `config.php`:
[code]

[2016-02-03 14:06] liuyami commented on #14
Thank you very much, the problem has been resolved.@uyab

[2016-02-03 14:06] #14 closed

[2016-02-16 07:52] DeeJaVu commented on #5
i have the same error using upgraded laravel 5.1 to 5.2

[2016-02-16 07:54] uyab commented on #5
@DeeJaVu which avatar version did you use?

[2016-02-16 07:54] DeeJaVu commented on #5
i did  composer require laravolt/avatar

[2016-02-16 07:58] uyab commented on #5
Can you provide your composer.json entries ?

[2016-02-16 08:04] DeeJaVu commented on #5
its fixed !

i had `"laravolt/avatar": "^1.2"` in my composer.json

i did composer update and it deleted
[code]
then i  succesfully ran composer require laravolt/avatar

sorry for taking your time, i had to look in to composer file in the first place.

[2016-03-09 14:48] VegardSkui opened #15 "Add LICENSE.md"
The MIT license is already chosen in composer.json, but for many potential users of this package it would be handy to have a easily visible LICENSE.md.

[2016-03-10 01:16] uyab commented on #15
LICENSE.md added, thank you for your suggestion :)

[2016-03-10 01:16] #15 closed

[2016-04-24 21:07] spaceemotion opened #16 "[Feature] Allow direct access to Image object"
I recently stumbled upon your package and finally was able to try it out. As we're using VueJS for our backend and user lists we cannot use the inline base64 or to PNG file feature.

Looking at the documentation for the Image library you're using I would have to use its ```response('png')``` call to properly use it in our case (custom route taking the desired user ID). As you locked all the method

[2016-04-25 03:31] uyab commented on #16
I see, I think I gonna add a method to return the image object itself, something like `getImageObject()`, what do you think?

[2016-04-25 09:23] spaceemotion commented on #16
Yes, that sounds perfect! Keep in mind that the image would have to be built before getting the image :)

[2016-04-25 09:41] uyab commented on #16
Could you update the package to 1.3.0 and see if it is working?

[2016-04-25 09:46] spaceemotion commented on #16
Yup that works, thanks ;)

[2016-04-25 09:46] #16 closed

[2016-05-28 15:55] ctf0 opened #18 "doesnt print letters unless the first one is Capital."
its kinda limiting, is there an option to include into the config to enable / disable this feature ?

[2016-05-29 03:14] uyab commented on #18
Hi @ctf0, do you use custom font ? May you copy your sample code here?

[2016-05-29 04:15] uyab commented on #10
Partially implemented, without configurable delimiter.

[2016-05-29 04:15] #10 closed

[2016-05-29 11:45] ctf0 commented on #18
yeap, i use
https://www.myfonts.com/fonts/mti/rockwell/ & https://www.behance.net/gallery/7775793/Airbag-Typeface

all the settings for avatar are same as the default and the code for creating the avatar
`Avatar::create($user->username)->toBase64()`

the issue is that the package work is not consistant, like sometimes it would read the first 2 letters and another time it wont read anything at all

[2016-05-29 14:32] uyab commented on #18
I added your test case and run the test, it seems no problem at all. Would you like to remove the custom fonts and see if its works ?

[2016-05-29 17:49] BlueTeck opened #19 "Cache Key based on initials"
Hi,

thanks for the change to generate the "random" color by the name instead of initials.
Unfortunately the cache key is based on initials, so the color/avatar is still the same for users with the same initials:

![image](https://cloud.githubusercontent.com/assets/1961634/15635119/671b8186-25d6-11e6-819c-5753db659655.png)

With disabled cache:

![image](https://cloud.githubusercontent.com/assets/

[2016-05-29 18:54] ctf0 commented on #18
okay i think i found the one causing the issue, the Airbag font only supports capital letters, so when the package run and it chose that font , nothing comes out.

[2016-05-30 01:37] #19 closed

[2016-05-30 01:37] #18 closed

[2016-06-15 12:22] ctf0 opened #21 "class Image not found"
as this package is using intervention , so unless i add the provider and the facade for intervention to the app/config aswell , the class not found error keeps popping up  every now and then 😢

[2016-06-15 12:48] uyab commented on #21
Are you already add both service providers?

[2016-06-16 00:31] ctf0 commented on #21
when i add the image service provider the issue is gone , but i think this is already being taken care of when i add the avatar class , right ?

[2016-06-17 00:49] uyab commented on #21
As mentioned in the doc, you must add both SP:
[code]

[2016-06-17 05:13] ctf0 commented on #21
oh, okay ,many thanx :+1:

[2016-06-17 05:13] #21 closed

[2016-08-04 04:15] iVanilla opened #24 "How to set font?"
Hi.
My website is using Simplified Chinese, so many users will use Chinese username, I need to determine  the first character of username is Chinese, English(letters) or integer, and then decide which font to use, but your setFont() function don't have any parameters, What should I do?

[2016-08-04 08:29] uyab commented on #24
Sorry, such a feature currently not available yet. But I think you have a valid example where these feature would be nice  to be implemented. Let me see if I can do it quickly.

[2016-08-04 09:12] uyab commented on #24
https://github.com/laravolt/avatar/releases/tag/1.7.0, I hope this will fullfill what you need :)

[2016-08-04 09:24] iVanilla commented on #24
@uyab Thanks.

[2016-08-04 12:37] #24 closed

[2016-08-07 07:17] phaistonian opened #25 "Help :)"
I am new to all-things Composer and I am having a hard time making this work.

After installing by going `composer require laravolt/avatar` then I have this.

[code]

I am getting all sorts of errors and for the life of me I can’t make it work, no matter what I tried.

Some help for the newbie?:)

Update:

I kind of figured it out, but here's where I am at now:

`Fatal error: Uncaught RuntimeExcep

[2016-08-09 11:03] dionysiosarvanitis opened #26 "defaultFont is always applied"
` $this->font = $this->defaultFont;` in function `setRandomFont` always get called. Seems like `break` must be changed to `return;`

[2016-08-09 13:10] uyab commented on #25
Sorry, this package intended to be used within Laravel framework. I will take a look if it is possible to use it in any php project.

[2016-08-09 13:15] uyab commented on #26
Thank you for reporting, confirmed bug. Will work on this tomorrow morning (GMT+7) because currently away from keyboard :)

[2016-08-09 13:52] phaistonian commented on #25
Thanks for the response @uyab.

This was driving me nuts :)

[2016-08-09 14:07] dionysiosarvanitis commented on #26
Ok, thanks!

[2016-08-10 04:20] #26 closed

[2016-08-16 02:09] xcaptain opened #27 "Uppercase all letters support"
Like my name is Joey, Now I will get Jo but I want to get JO. How about add a uppercase config so people can choose whether upcase all the letters.

[2016-08-16 04:54] uyab commented on #27
Make sense, just wait a minute.

Meanwhile, you can pick a font that support only uppercase :)

[2016-08-16 05:28] uyab commented on #27
New config `uppercase` added, default to false. Please update laravolt/avatar to newly tagged version 1.8.0.

[2016-08-16 05:28] #27 closed

[2016-08-16 17:15] xcaptain commented on #27
Great job, thanks.

[2016-09-02 20:52] xoco70 opened #28 "Uppercase doesn't work..."
When I first generate app.php, it came without

    'uppercase' => true,

I checked it in the github doc, and added it, but it is not working, still get it in lowercase.

Here is how I use it in my view:

`<img src="{!! Auth::getUser()->avatar ?? Avatar::create(Auth::getUser()->email)->toBase64() !!}">`

[2016-09-02 21:58] uyab commented on #28
What font do you used?

[2016-09-13 22:07] xoco70 commented on #28
"Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif

And I use

Avatar::create(Auth::getUser()->email)->toBase64()

to create it

[2016-09-19 05:52] uyab commented on #28
Can you show how exactly your avatar config file look like?

[2016-09-20 15:24] xoco70 commented on #28
yep, no problem:

`
<?php
/*
 * Set specific configuration variables here
 */
return [
    // Whether all characters supplied must be replaced with their closest ASCII counterparts
    'ascii'    => false,
    'uppercase' => true,

    // Image shape: circle or square
    'shape' => 'circle',

    // Image width, in pixel
    'width'    => 100,

    // Image height, in pixel
    'height'   => 100,

[2016-09-21 05:40] uyab commented on #28
Can you confirm that you have installed laravolt/avatar version 1.8.0 (https://github.com/laravolt/avatar/releases/tag/1.8.0) ?

[2016-09-24 04:55] xoco70 commented on #28
This was the issue! Installed it for 5.1! Txxx

[2016-09-24 04:55] #28 closed

[2017-03-09 00:45] rzb opened #30 "What goodies am I missing from 1.*?"
I'm on L5.1 and can't upgrade anytime soon. I'd be nice to know what features I'm missing.

Thank you for your work.

[2017-03-09 02:11] uyab commented on #30
Hi @rzb, glad to know that this package useful for your project.
Actually there is no major feature addition in 1.x, just several enhancement like `auto uppercase`, `create avatar from email`, and more `unit test`.

If you find version `0.x` still fit for your project, it is ok to stick with it.

[2017-03-09 02:11] #30 closed

[2017-03-09 05:18] rzb opened #31 "Unable to set font at runtime"
On 0.3.3, `setFont()` is a protected, unchainable, no-argument function.

[2017-06-02 09:50] breadlesscode opened #35 "add preview image (old broken)"
Hi guys,

can you add a new preview image to the readme?

[2017-06-02 16:25] uyab commented on #35
I don't know why the old dropbox link doesn't work. Reupload below to get another link:
![preview](https://cloud.githubusercontent.com/assets/149716/26735022/6dbd77e2-47ea-11e7-8a05-7772465309c5.png)

[2017-06-02 16:25] #35 closed

[2017-06-03 09:50] #12 closed

[2017-06-03 09:52] uyab commented on #31
sorry, 0.x no longer maintained, please use version 1.x

[2017-06-03 09:52] #31 closed

[2017-06-03 09:55] uyab opened #36 "Output as SVG"

[2017-06-03 18:36] renatoslcdevshop commented on #31
Ok. Then please remove L5.1 support from the readme or add a "use at your own risk" note.

Thanks for the package.

[2017-06-03 18:37] rzb commented on #31
Ok. Then please remove L5.1 support from the readme or add a "use at your own risk" note.

Thanks for the package.

[2017-07-05 00:08] #25 closed

[2017-07-06 10:46] mintzs opened #38 "Reverse Initials"
Thanks for the great package!

I was wondering if you could add a config flag to reverse the initials, so for example, John Doe's avatar would be (DJ) instead of (JD).

Thanks :)

[2017-07-07 02:20] uyab commented on #38
It was easy to implement, but I don't think this was common needs. Could you explain more why you need this?

[2017-07-09 14:26] mintzs commented on #38
Yes, RTL languages get the initials in reverse order...

[2017-07-09 17:16] uyab commented on #38
For "Andy Bar Cook" as a name and initial length was `2`, which one do you expects as initials? `BA` or `CB`

[2017-07-10 12:21] mintzs commented on #38
As for RTL languages "Cook" would be the first name, "Bar" the middle name and "Andy" the last name, therefore, to work similar to LTR languages, I would expect `CB`.

I would also appreciate if you would add the reverse functionality as a dynamic call, not just as a config flag, due to the fact that the code has to first determine whether the input string is RTL or LTR and then use (or not) the r

[2017-07-10 12:52] uyab commented on #38
Yes, I'm thinking the same about customizable InitialGenerator class. In the meantime, you can just generate your own initials, and pass the final string to avatar class :)

[2017-07-12 05:38] uyab commented on #38
Hi @mintzs, would you like to check master branch to see if current implementation can fulfill your needs?

[2017-07-12 19:19] mintzs commented on #38
Great! This way I can extend the default generator class, check the string and manipulate it if necessary before calling the original `make` method (using `parent::make`).

*Of course, for my specific case I'd check the string's direction and if RTL would reverse the string prior to the parent `make `call.

[2017-07-13 15:32] #38 closed

[2017-07-15 04:59] mimimhmh opened #42 "Non-static method Laravolt\Avatar\Avatar::create() should not be called statically"
Why I got this error? I follow the usage of the instruction.
Here is my code.
`public function store(RegistrationRequest $request) {
    //save to file
    $currentId = \DB::table('users')->max('id') + 1;
    $destinationPath = 'storage/images/users/' . $currentId . '/avatar/';
    $completePath = url('/' . $destinationPath . 'default.png');

    Avatar::create(request('name'))->save($completePath

[2017-07-15 05:01] mimimhmh commented on #42
`//save to file
        $currentId = \DB::table('users')->max('id') + 1;
        $destinationPath = 'storage/images/users/' . $currentId . '/avatar/';
        $completePath = url('/' . $destinationPath . 'default.png');

        Avatar::create(request('name'))->save($completePath);

        $user = User::create([
            'name'     => request('name'),
            'email'    => request('email')

[2017-07-16 15:14] uyab commented on #42
Please make sure you have correct alias config:

`'Avatar'    => Laravolt\Avatar\Facade::class,`

or if don't want to use alias, you must import the facade class, not the actual Avatar class, e.g:
`use Laravolt\Avatar\Facade`

[2017-08-02 16:04] anardil commented on #42
Hello,

I have the same problem.
Can you put an example to use it in a Controller, please?
Thank you. :)

[2017-08-02 23:34] uyab commented on #42
[code]

[2017-08-03 07:21] anardil commented on #42
Hello,

Thank you now it works.

Regards.

[2017-08-09 04:30] #42 closed

[2017-08-20 14:11] #36 closed

[2017-08-21 04:19] uyab opened #44 "Promotional Assets"
![banner](https://user-images.githubusercontent.com/149716/29503524-840ccd0c-8662-11e7-92f9-9ec3ed8a24af.png)

[2017-08-21 04:26] #44 closed

[2017-08-26 19:06] imtiazwazir opened #45 "Public config changes not effecting"
<img width="394" alt="screen shot 2017-08-27 at 12 04 12 am" src="https://user-images.githubusercontent.com/1964969/29744287-70126fc0-8abb-11e7-83fa-73f4d5508ad1.png">
<img width="404" alt="screen shot 2017-08-27 at 12 04 38 am" src="https://user-images.githubusercontent.com/1964969/29744286-6ffa276c-8abb-11e7-87f4-231ae1f0cfde.png">

Changes in public config "config/laravolt/avatar.php" not effec

[2017-08-27 13:32] uyab commented on #45
Which version did you use?

[2017-09-13 13:18] NotHolst opened #47 "Composer require fails installation"
[code]

I have no idea why this is happening

[2017-09-13 13:48] uyab commented on #47
Hmm, I think it is related to directory separator. The path produced contains mixed char `\` and`/`, which is I'm sure only happen in Windows.

Can you check whether path `C:\Github\project\vendor\laravolt\avatar\src/../config/config.php` is valid or not? Maybe using something like `is_file` or `is_exists`.

[2017-09-13 20:36] NotHolst commented on #47
It seems to work now, just repeated the exact same steps as i did on my laptop, but it seems to work on my desktop for some reason :)

[2017-09-13 20:36] #47 closed

[2017-09-27 11:31] robindirksen1 commented on #45
Same problem here.

[2017-09-27 13:30] uyab commented on #45
@robindirksen1 can you provide more valuable information: which version did you use, code snippet when generating avatar, and dump result from calling `dd(config("laravolt.avatar"))`.

[2017-09-27 18:27] robindirksen1 commented on #45
dd(config("laravolt.avatar"));

[code]

To create avatar:
[code]

AppServiceProvider.php
[code]

[2017-09-28 03:30] uyab commented on #45
Ah, so you are instantiate Avatar class manually, instead of using Facade. If that is what you want, you can take a look how `Avatar` internally created:

https://github.com/laravolt/avatar/blob/master/src/ServiceProvider.php#L25-L28

You need to pass config too.

Just curious, why dont you use register the alias `'Avatar'    => Laravolt\Avatar\Facade::class` so you can call it in view like this (

[2017-09-28 08:44] robindirksen1 commented on #45
I tried but that it says the follow:

`Method Illuminate\View\View::__toString() must not throw an exception, caught ErrorException: Non-static method Laravolt\Avatar\Avatar::create() should not be called statically`

[2017-09-28 08:45] robindirksen1 commented on #45
Okay, it works. I removed `Laravolt\Avatar\`, forgot that it is assign as a Facade.

`Avatar::create(Auth::user()->name)->toBase64()`

[2017-09-28 08:47] #45 closed

[2017-10-23 09:11] Cannonb4ll opened #49 "Config file inside a folder?"
Is there a specific reason why the config file is being published inside the config/laravolt folder? It does not seem necessary to be honest and makes the structure look ugly.

I would rather have all my config files displayed at once, once I open up the config folder tree.

[2017-10-31 09:46] uyab commented on #49
Because initially this package was part of **laravolt** vendor, which is consist of several packages. It is easier for me if all config placed in one location.

Second, `avatar` was general name, place it directly in config folder increase the chances of naming collission with other package.

[2017-10-31 09:46] #49 closed

[2018-02-17 09:43] isatria opened #52 "Can't use Output As Base64 in view"
`Call to undefined function Intervention\Image\Gd\imagettfbbox()`

[2018-02-19 02:27] uyab commented on #52
You need GD library installed on your system.

[2018-02-19 03:55] #52 closed

[2018-03-12 16:38] laravelian opened #55 "SVG generation looks off in firefox"
![image](https://user-images.githubusercontent.com/1485635/37296718-2a559f02-25f2-11e8-856c-b41a62a0276c.png)

This was a file saved with the ->toSvg() method with default settings.  The avatar looks fine in all other browsers I have tried (Chrome & Safari)

[2018-05-13 17:26] thesimpledesigners commented on #55
it's due to the "y" attribute in the `<text y="value">RM</text> `
it's calculating the center from the bottom of the text
![image](https://user-images.githubusercontent.com/9967336/39969923-09032184-56db-11e8-86fc-e6851c4eda4b.png)
can't find a proper solution to fix it

[2018-05-29 16:51] samalapsy opened #57 "Commendation"
Wow this library is really wonder. Thumbs up to  @uyab ; more grease to your elbow.

Please can you kindly work on the image quality too. This is a 70x70 image with fontsize 25px Using toBase64().   The quality is poor.
![opera snapshot_2018-05-29_174539](https://user-images.githubusercontent.com/13020916/40672954-3f63e80a-6368-11e8-9869-55cc45cf6111.png)

## Once again you've really done  a nice

[2018-06-06 21:09] uyab commented on #57
Hi @samalapsy, you can set `driver` to imagick for better result. Or maybe generate larger image and display it on small size. Currently I don't have any idea how to smoothing the border using GD library.

[2018-06-12 12:26] mohamedsabil83 opened #58 "Not working with unicode like Arabic"
The package seems working with English only not with other Unicode languages like Arabic.
What I have to do to let it work?

![screenshot from 2018-06-12 15-20-07](https://user-images.githubusercontent.com/10126040/41290078-7321e402-6e54-11e8-92fa-671607357358.png)

![screenshot from 2018-06-12 15-23-04](https://user-images.githubusercontent.com/10126040/41290104-8a17675e-6e54-11e8-9bc6-74a8f4f513

[2018-06-12 14:03] uyab commented on #58
You need custom font that support arabic letter. Please refer the documentation how to set font.

[2018-06-16 16:13] mohamedsabil83 commented on #58
@uyab Sorry for delay response. I guess that also and working after changing to compatible font.

**N.B.:** RTL language like **Arabic** also appears as LTR.

[2018-06-17 12:49] uyab commented on #58
Yes, currently it doesn't support rtl. I think we need to create separate
issue for this.

On Sat, 16 Jun 2018, 23:13 Mohamed Sabil, <notifications@github.com> wrote:

--
Bayu Hendra Winata
08562076467
Software Engineer

[2018-06-19 08:22] xadz opened #59 "Font not working in SVG output?"
How should I reference a font in my public directory to get it working in SVG? Many thanks!

[2018-06-25 14:23] forexknight opened #61 "How to set padding on icon"
Hi,

I just want to know if there is any possibility to set padding-left attribute on the icon? In my case the text is not centered properly.

[2018-06-30 13:32] RikyBordo opened #62 "Call to undefined function Intervention\Image\Gd\imagettfbbox()"
Hello,

This is error:

<img width="524" alt="screen shot 2018-06-30 at 15 24 07" src="https://user-images.githubusercontent.com/40716719/42125623-d963689c-7c7a-11e8-8e95-77aa46c7b54a.png">

This is my phpinfo(), GD table:

<img width="411" alt="screen shot 2018-06-30 at 15 23 42" src="https://user-images.githubusercontent.com/40716719/42125610-a6aad066-7c7a-11e8-9e75-4e5516a15bcb.png">

I'm using

[2018-07-01 01:38] uyab commented on #62
Please see https://github.com/Intervention/image/issues/484

[2018-07-09 23:48] mohamedsabil83 commented on #58
I hope that. for now, I'll work with it like that.

[2018-07-09 23:48] #58 closed

[2018-08-17 09:10] #62 closed

[2018-09-08 23:48] dereks commented on #42
Also, this:

[code]

[2018-11-08 07:37] #55 closed

[2018-11-08 08:49] uyab commented on #61
@forexknight please update to latest version (2.0.5) and check if the problem still exists.

[2018-11-08 08:50] #57 closed

[2018-11-08 23:47] uyab opened #65 "Gravatar support"

[2018-11-08 23:51] uyab commented on #59
Please update to 2.1.0 and confirm if it is solve your issue. Many thanks and sorry for slow respone.

[2018-11-08 23:51] #59 closed

[2018-11-08 23:51] #61 closed

[2018-11-15 15:04] neoteknic opened #66 "SVG output, text is not centered vertically"
With SVG output, text is not centered vertically.
Chrome : not well centered
Edge : text is on top

Solution : correct default value + add parameters to give an offset X, Y to the text.

version : 2.1.0

[2018-12-02 20:50] uyab commented on #12
@ctf0 why you need the fonts to be publishable?

[2018-12-03 04:17] Obacm opened #67 "Does this package support Chinese?"

[2018-12-03 04:25] Obacm opened #68 "Does this package support Chinese?CHINESE"

[2018-12-03 04:25] #68 closed, assigned to nobody

[2018-12-11 22:30] uyab commented on #67
@Obacm Yes it does, you must set the right font that support Chinese character.

[2018-12-11 22:30] #67 closed

[2018-12-17 14:55] neoteknic commented on #66
+ suggestion : is it possible to vectorize text instead of output it in SVG ?

[2018-12-18 15:43] uyab commented on #66
Hi @neoteknic, sorry I little bit busy in recent weeks. Any help welcome for this issue :)

[2019-01-16 06:52] khanzadimahdi opened #69 "utf8 support"
this package doesn't support utf8 characters? it cant generate avatar using Arabic characters.

[2019-01-16 07:16] uyab commented on #69
You must use font that support arabic too

[2019-01-16 08:05] khanzadimahdi commented on #69
works like a charm. tnx

[2019-01-16 08:05] #69 closed

[2019-01-18 09:36] sarthaksavvy commented on #45
use config in avatar class,
$avatar = new Avatar(config('laravolt.avatar'));
then use $avatar->create($name)->toBase64();

[2019-01-18 09:57] uyab commented on #45
Thanks @sarthaksavvy , that sholud works if you dont use Laravel Facade

[2019-01-26 22:40] francoislevesque opened #70 "To save base:64 in database, you must cast to string."
To save the base:64 format in a database, you must cast to string.

[code]

It would be nice to add this in the documentation!

[2019-01-26 22:42] francoislevesque commented on #70
Oups, nevermind. It was something else causing my issue! The doc is OK!

[2019-01-26 22:42] #70 closed

[2019-02-07 21:57] mberneis commented on #65
+1 - Unable to combine Gravatars with this library.

[2019-02-14 01:15] uyab commented on #65
Released 2.2.0

[2019-02-14 01:15] #65 closed

[2019-02-19 08:17] neoteknic commented on #66
![image](https://user-images.githubusercontent.com/1809652/52999801-07c17a80-3427-11e9-97b3-b7ff6c8ae6c5.png)
Maybe a font issue, look at this image on Google chrome windows 10 x64.

[2019-02-19 11:03] neoteknic commented on #66
![image](https://user-images.githubusercontent.com/1809652/53010401-20895a80-343e-11e9-9f83-f7d3afaef686.png)

Chrome ; Firefox ; Edge
Browser issue ? but possible to fire in Avatar.php toSvg() maybe.

[2019-03-15 19:41] DevChristians opened #72 "Class 'Avatar' not found"
Hey there!
i've a problem with this 'Avatar'
My version of laravel is 5.3, I do not know if there is a bug for this.

![Captura de pantalla de 2019-03-15 15-19-01](https://user-images.githubusercontent.com/27924062/54456809-1ce3ad80-4736-11e9-81a3-98083de9e2c0.png)

![Captura de pantalla de 2019-03-15 15-23-09](https://user-images.githubusercontent.com/27924062/54456886-4ef50f80-4736-11e9-8b45-678

[2019-03-16 23:18] uyab commented on #72
Hi, maybe you need to run `composer dump-autoload` and/or `php artisan clear-compiled`.

[2019-03-17 00:02] DevChristians commented on #72
@uyab Thanks so much!! for real men <3

[2019-03-17 01:07] #72 closed

[2019-03-18 14:44] ezeveliz opened #73 "Low contrast between background and foreground"
In some cases, the result is a yellow avatar with white letters, which is not very easy to read. So, I would like to know, how or where I could override the getRandomForeground() to check for contrast before chossing one.
Thanks!

[2019-03-18 23:33] uyab commented on #73
You can override the config file: https://github.com/laravolt/avatar/blob/master/config/config.php

Place it in `config/laravolt/avatar.php`

[2019-03-19 00:41] ezeveliz commented on #73
@uyab I know, but what I wanted is to check for contrast so, if a dark background is chosen, to choose a light foreground, and if a light background is chosen, to choose a dark foreground.
All I can do in config is to give a list of colors, but they're chosen randomly, so contrast is not always ok.

[2019-03-19 00:47] uyab commented on #73
Ah i see, do you have any idea how this should be implemented?

[2019-03-19 01:00] ezeveliz commented on #73
What I wanted to do was override create(I think), first choose a background randomly and then check contrast against black or white(those would be the possible foregrounds), and choose the one with the higher contrast.

[2019-04-02 12:00] mirko77 commented on #73
Would be better to randomize both, picking from a selection of foreground/background colors.?

I guess an array of 20 possible color combinations will do

Any suggestion?

[2019-04-03 09:53] uyab commented on #73
I think it is a good idea to have some `theming` functionality.

Currently there is only one pair of background-foreground colors.

[code]

We can make a new config value, let's call it `themes`:
[code]

And choose active theme with:

[code]

Is this a good idea? Anybody willing to make a PR ?

[2019-04-10 20:30] Mindexperiment commented on #73
Hi all, there are functions to calculate contrasts between colors.

Take a look:
https://ux.stackexchange.com/questions/107318/formula-for-color-contrast-between-text-and-background
https://medium.com/dev-channel/using-sass-to-automatically-pick-text-colors-4ba7645d2796

[2019-05-14 13:45] ketchums opened #74 "Quality is really bad on saving the image?"
Using inside Laravel, and the quality is terrible.
`\Avatar::create($name)->save(storage_path('avatars') . '/' . $fileName);`

[2019-05-23 00:37] jasonmonroe commented on #62
I'm having this issue as well but with Laravel v5.2.45.

[2019-05-25 01:15] uyab commented on #74
You can switch to `imagick` driver for better quality

[2019-05-25 01:15] #74 closed

[2019-05-29 05:34] knoufal opened #76 "Text vertical alignment issue with imagick and toBase64"
Had to switch to imagick for better image quality but now text is not aligned properly inside the icon with **toBase64**, text was aligned correctly with GD Library without any issues. I am using an Arabic font.

![Image of Avatar](https://i.ibb.co/n1DDdYV/laravolt.png)

Thanks :)

[2019-06-02 08:15] arnebr opened #77 "Update dependencies"
On the latest update I got the following error:
[code]

This error is because an old version of `illuminate/support` is used. A fix by the author of the package was already provided.
Would be awesome, if we can update the dependencies.

Since I can´t test it at the moment, I can´t open a pull request for now.

[2019-06-02 13:58] uyab commented on #77
Thank you for reporting. What Laravel version do you use?

[2019-07-03 16:36] arnebr commented on #77
@uyab none, I use the libary as a standalone component.

[2019-09-02 07:36] jjhamkuijpers opened #78 "Laravel 6.0 Support?"
Would it be able to support Laravel ^6.0?

[2019-09-02 10:36] uyab commented on #78
Yes, hope I can release new version soon after L6 released.

[2019-09-02 10:42] uyab commented on #77
You can upgrade carbon to latest version `require nesbot/carbon:^2.0`

[2019-09-02 10:42] #77 closed

[2019-09-03 15:15] neoteknic commented on #78
It's out ! Maybe just libs to update ?

[2019-09-04 11:39] neoteknic commented on #78
Working with dev-master thank you ! Can you make a release ?

[2019-09-04 11:43] uyab commented on #78
@neoteknic I will tagged new version (3.0.0) in the next several hours.

[2019-09-04 14:43] uyab commented on #73
Theming are available since 3.0.0. You can define multiple color combination (themes) and of course you need to check the contrast manually.

[2019-09-04 14:43] #73 closed

[2019-09-04 14:43] #78 closed

[2019-09-11 21:36] fannyfan414 commented on #66
I extend Avatar class and in method toSvg add 4px to "y" coordinate.
This line

With this modification content is now aligned correctly

[code]

[2019-09-30 15:03] padre opened #79 "setdimension() not working"
The method setdimension() not working. The generated image always has the size 100x100

For example:

Avatar::create('Habibie')->setDimension(50)->setFontSize(18)->toBase64() has the size 100x100

[2019-10-05 00:31] ahinkle opened #80 "[3.0.0] Defaults to imagick"
I was upgrading my Laravel project and got the error:

`ImageMagick module not available with this PHP installation.`

According to the README, the package is supposed to use `gd` by default. (`gd` was previously used in my case) The configuration in my project was not published and the default was changed somewhere between updates from `gd` to `imagick` reaching the error seen above.

I published

[2019-10-07 02:32] #80 closed

[2019-10-15 14:02] FariaQuitamb commented on #42
Add   'Avatar' => Laravolt\Avatar\Facade::class,
on your config/app.php

then

call \Avatar::create()
work for me in Laravel 6.0

[2019-10-16 09:16] paschaldev opened #82 "Lumen config"
The package works with Lumem but the config file is not used / loaded at all.

[2019-10-16 15:09] paschaldev commented on #82
For lumen users, the dot notation directory thing with Laravel doesnt work so make sure to name the config file `laravolt.avatar.php` and also add `$app->configure('laravolt.avatar')` to `bootstrap/app.php`

[2019-10-16 15:09] #82 closed

[2019-11-11 23:06] Hirbod commented on #79
I can confirm this

[2019-11-11 23:07] Hirbod commented on #79
@padre are you also on Laravel 6.* by any chance? It looks like I am also getting troubles with config files since I've upgraded

[2019-11-11 23:21] Hirbod commented on #79
@laravolt Not a single method works for me. Everything comes out like trash, wasn't before I updated..
![K0nzwe1j_avatar](https://user-images.githubusercontent.com/504909/68628936-5d244700-04e2-11ea-9cce-15c0736bcf99.jpg)

It is ignoring every single setting.

[code]

[2019-11-12 15:03] padre commented on #79
@Hirbod yes, on Laravel 6. On laravel 5 all methods worked.

[2019-11-13 14:19] Hirbod commented on #79
Yeah, same for me @padre. Since I am lucky and I only need one global config, I set everything under config/laravolt/config.php - its working from there, but I think something need to be changed for Laravel 6.*

[2019-11-18 13:48] mohammadsalmani28 opened #83 "laravel 6"
after installation i want to use this package and i got this massage:

"ImageMagick module not available with this PHP installation."

[2019-11-18 13:51] uyab commented on #83
You can change image driver to `gd`. Please check the configuration https://github.com/laravolt/avatar#publish-config-optional

[2019-11-22 18:35] mohammadsalmani28 opened #84 "working with another languages"
I want to use this package with another language like persian ....
when i used this i got some squares!!!
i think it has some problems with utf8 !!

[2019-11-23 02:14] uyab commented on #84
Please check https://github.com/laravolt/avatar/issues/58

[2019-11-23 19:49] mohammadsalmani28 commented on #84
i used 'setFont' mehtod and it doesn't work!
i changed path in config/laravolt/avatar.php
but it doesn't work again!
tnx for help!

[2019-11-24 18:41] #83 closed

[2019-11-30 09:00] mohammadsalmani28 commented on #58
i used 'setFont' mehtod and it doesn't work!
i changed path in config/laravolt/avatar.php
but it doesn't work again!

[2019-12-04 14:38] SiliconMachine opened #85 "Avatar not taking any config parameters"
I've installed the module and tried to pass parameters to customize the avatar as follows:

`use Laravolt\Avatar\Facade as Avatar;`

` $avatar = Avatar::create($user->name)->setDimension(280)->setShape('square')->getImageObject()->encode('png');`

dd(config("laravolt.avatar"));

`
array:16 [▼
  "driver" => "imagick"
  "generator" => "Laravolt\Avatar\Generator\DefaultGenerator"
  "decorator" => "La

[2019-12-04 15:15] uyab commented on #85
Please check if https://github.com/laravolt/avatar/releases/tag/3.0.1 works for you

[2019-12-04 15:16] uyab commented on #79
Please check if https://github.com/laravolt/avatar/releases/tag/3.0.1 works for you

[2019-12-07 00:53] uyab commented on #84
hi @mohammadsalmani28 , sorry for slow response, would you check it again using the latest version?

[2019-12-07 00:53] #85 closed

[2019-12-07 00:53] #79 closed

[2019-12-07 00:53] uyab commented on #84
https://github.com/laravolt/avatar/releases/tag/3.0.1

[2019-12-11 11:03] Release88 opened #86 "Custom fonts not set"
When changing fonts in config, with command Avatar::create('NAME')->toBase64() doesn't set custom fonts, because fonts are set during __construct() function , when the $name attribute is not set. Then, when during the construct it tries to set custom fonts (with $this->getRandomFont() in applyTheme method), the getRandomElement called by getRandomFont() checks if the $name attribute is set ( if (s

[2019-12-11 11:32] uyab commented on #86
Hi @Release88 , thank you for your report. Which version do you use?

[2019-12-11 11:58] Release88 commented on #86
Hi @uyab , i have "laravolt/avatar": "^3.0" in my composer.json

[2019-12-11 12:00] uyab commented on #86
Can you update to latest version, 3.0.1, and check if this problem still exists?

[2019-12-11 14:48] Release88 commented on #86
It's already 3.0.1 version

[2019-12-11 14:53] Release88 commented on #86
Actually, to jump the problem, I have set statically the custom font file path in the Avatar.php file, through the construct method:

$this->defaultFont = resource_path() . '/fonts/Roboto-Light.ttf';

[2019-12-14 10:57] marooj opened #87 "empty circle"
text on circle not found on gd please help me

![Image of Yaktocat](http://uupload.ir/files/5uvd_avatar.png)

[2019-12-14 11:31] marooj commented on #76
on
vendor\laravolt\avatar\src\Avatar.php
line 394
change
$y = $this->height / 2;
to
$y = $this->height / 3;

[2019-12-14 11:33] marooj commented on #87
after change font in
E:\PetroShop\vendor\laravolt\avatar\src\avatar.php
my problem solved
thank you please find problem

[2019-12-14 11:38] marooj commented on #87
oh excuse me i am find problem
problem is on Persian fonts after change it to
`protected $defaultFont = __DIR__.'/../fonts/IRANSansWeb_Bold.ttf';`
 the Persian fonts supported .

[2019-12-18 01:02] aaronhuisinga commented on #76
Having this same issue using the default font and just returning as a response. GD works without issue.

[2019-12-18 01:17] tobz-nz opened #88 "SVG missing viewBox - cannot be resized with css"
Currently if you try to set the size of the svg via css the svg content  is not resized to match but instead is clipped.

To fix the issue and resize the image as expected:

[code]

Also as an aside, this markup is way overkill. The only attribute required would be `viewBox` (and `width`/`height` to set the size without css)
So:
[code]

is enough when rendering within an HTML page.

Happy to PR th

[2019-12-18 13:16] uyab commented on #87
Related to https://github.com/laravolt/avatar/issues/86

[2019-12-18 13:19] uyab commented on #88
I don't have deep knowledge about SVG, so PR are welcome :)

[2019-12-19 03:54] #88 closed

[2019-12-25 11:04] uyab commented on #86
3.0.3 should fix this

[2019-12-25 11:04] #86 closed

[2019-12-25 11:04] uyab commented on #87
3.0.3 should fix this

[2019-12-25 11:04] #87 closed

[2019-12-25 11:04] uyab commented on #84
3.0.3 should fix this

[2019-12-25 11:04] #84 closed

[2019-12-25 17:12] mohammadsalmani28 commented on #84
now i test latest version but its looks like other and setBackground method has problem !

[2019-12-26 23:51] uyab commented on #84
3.0.5 should (really) fix this 🙏

[2019-12-27 17:03] mohammadsalmani28 commented on #84
now problem of setBackground method fixed but font problem is still here!

[2019-12-31 15:45] uyab commented on #84
Could you provide some sample code?

[2019-12-31 18:52] mohammadsalmani28 commented on #84
`$fake = Faker::name()->full;

$random = rand();

$avatar->create($fake)->setBackground('#FF3300')->setBorder(1, '#aabbcc')->save('storage/'.$random.'.png');
`

[2020-01-07 13:16] neoteknic opened #90 "[Critical] SVG is broken"
SVG is broken at least on Chrome.
#89 is breaking it
with <img src=""> it's like no image, with browser open it show the source code instead of the picture.
Please add only this to svg tags :

xmlns="http://www.w3.org/2000/svg"

tested and working.

disable brotli and gzip on svg, same problem.

[2020-01-07 16:20] neoteknic commented on #90
Fixed in #91

[2020-01-07 16:20] #90 closed

[2020-01-12 12:09] sergeynilov opened #92 "Installing laravolt/avatar I got error method Laravolt\Avatar\Facade::isDeferred"
Hello,
I tried to install /laravolt/avatar pluging in my laravel 6 app ana got error :

[code]
At https://github.com/laravolt/avatar  site I see last updates 5 days ago and it is niot absolute ?

composHello,
I tried to install /laravolt/avatar pluging in my laravel 6 app ana got error :

$ composer require laravolt/avatar
Using version ^3.0 for laravolt/avatar
./composer.json has been updated
Loa

[2020-01-12 13:18] uyab commented on #92
I cannot reproduce the issue with fresh Laravel install + `composer require laravolt/avatar`.

Maybe you can register ServiceProvider and Facade manually: https://github.com/laravolt/avatar#service-provider--facade

[2020-01-13 07:48] sergeynilov commented on #92
Thanks!

[2020-01-13 07:48] #92 closed

[2020-01-20 19:00] mohammadsalmani28 commented on #84
Any answer?!
@uyab

[2020-02-29 11:16] jtomek opened #96 "Laravel Vapor Solution: Undefined Function imagettfbbox()"
**Situation**

I'm switching to Laravel Vapor.

**Complication**

Fresh "vapor deploy" is causing the following error

`"Call to undefined function Intervention\Image\Gd\imagettfbbox()"`

A solution is not readily available online.

**Cause:**

The error is complaining about the location of your Fonts in your Lambda.

**Solution:**

You can specify a custom fonts location like this:

`(new Avatar(

[2020-02-29 11:16] #96 closed

[2020-03-01 22:00] perezcato opened #97 "Create not a static method"
Trying to call the create method but gives an error message as it not being a static method

[2020-03-01 22:54] uyab commented on #97
Maybe this help: https://github.com/laravolt/avatar/issues/42

[2020-03-01 22:54] #97 closed

[2020-03-03 20:09] neoteknic opened #98 "Uptate for laravel 7 ?"
Any update for L7 ? maybe just a quick change in version support ?

[2020-03-04 03:12] uyab commented on #98
Tagged 3.2.0

[2020-03-04 03:12] #98 closed

[2020-03-09 05:46] Harsukh21 opened #99 "Method Laravolt\Avatar\Avatar::__toString() must not throw an exception"
i was used this package with laravel 7.
when i try to create image like that.
`<img src="{{ Avatar::create('S') }}" alt="S"> `
Error is :
Method Laravolt\Avatar\Avatar::__toString() must not throw an exception, caught Intervention\Image\Exception\NotSupportedException: ImageMagick module not available with this PHP installation.

Please help me.

[2020-03-09 06:58] uyab commented on #99
Please refer to https://github.com/laravolt/avatar#configuration. You have two options:

1.  Install imagick extension, or
2. change the driver to `gd` (of course, you must make sure your server have php-gd extension)

[2020-03-09 06:58] #99 closed

[2020-04-15 03:36] cesarhfborges opened #100 "Color Random"
decorator class, doest present on project, image color random desnt work

[2020-04-15 08:46] uyab commented on #100
Could you provide more detailed description, sample code, or error message?

[2020-04-28 22:40] samiboukadida opened #101 "Error while installing"
Argument 1 passed to Laravolt\Avatar\Avatar::__construct() must be of the type array, null given, called in /home/vagrant/laravel-forum.test/vendor/laravolt/avatar/src/ServiceProvider.php on line 28

[2020-04-30 20:38] fredericseiler opened #102 "Theme decorator in config file"
Hi,

Is this for a future feature ?

https://github.com/laravolt/avatar/blob/b693e9f83443f1fd77a7416a0a9e4b32dd43f4eb/config/config.php#L24-L25

[2020-05-03 03:46] uyab commented on #102
Removed, it should not be there :)

[2020-05-03 03:46] #102 closed

[2020-05-03 03:48] uyab commented on #101
Please double check your config file, it must return valid array (check the readme).

Btw, 3.2.1 released to handle null config.

[2020-05-03 03:48] #101 closed

[2020-05-03 03:48] #100 closed

[2020-05-12 17:23] hemant17 opened #105 "Class name must be a valid object or a string"
I am getting error of - Class name must be a valid object or a string
when i try to use it in blade.php

[2020-05-12 22:21] sectorf8 commented on #105
Same here :(

[2020-05-13 03:01] uyab commented on #105
Did you override the configuration?
Could you provide sample code?
Could you provide the complete error message + stack trace?

[2020-05-19 22:52] vinnykawakami commented on #42
Hello @uyab ,

I have the same error:

[code]
My environment is based on Laravel 7.10.3 and PHP 7.4.6 and Apache 2.4 on Win10.

I tried to install laravolt/avatar with:

[code]

I included in my _config/app.php_:
[code]
Because the command:
[code]
Did not automatically provide to my app.php file and in my controller, I use that:
[code]
I tried to change this:
[code]
by this:
[code]
and result was

[2020-05-20 00:42] vinnykawakami commented on #42
[Solved]I discovered that I need to use in my controller:
[code]

[2020-05-26 17:08] enkay opened #106 "Text is not centered horizontally"
I'm using GD to generate the avatar, and it seems like the letters are not centered horizontally. They seem to be overly to the left. I've tried a few different fonts (OpenSans, Roboto, RobotoMono) and they all seem to have that issue.

I'm using a width and height of 128 and a font size of 64.

Any suggestion?

[2020-05-27 11:55] shohanean commented on #105
Same Error!

[2020-05-27 11:56] shohanean commented on #105
Can not do anything at controller, not at blade. Any suggestions?

[2020-05-28 10:37] uyab commented on #105
@shohanean please provide some code snippet so I can suggests what is wrong

[2020-05-28 11:05] hemant17 commented on #105
there is nothing special code snippet we just following the simple install step -  https://github.com/laravolt/avatar#output-as-base64
it just shows that error. with default laravel install and with installed.

[2020-05-28 20:20] uyab commented on #105
If so, could yo provide the full stack trace of the error here?

[2020-05-28 20:32] uyab commented on #106
[code]

Testing with above code, looks normal in my machine:

![image](https://user-images.githubusercontent.com/149716/83190513-bab97180-a15c-11ea-939e-090af33345a9.png)

Could you share your sample code + the output of base64 here?

[2020-05-28 20:38] uyab commented on #66
Just found https://github.com/meyfa/php-svg, will try to refactor the svg part using it.

[2020-05-29 08:59] shohanean commented on #105
Yes nothing special code

[2020-05-29 09:12] uyab commented on #105
@shohanean full error message please 😄

[2020-05-30 10:47] shohanean commented on #105
I just require the package, then published the vendor.
In my controller which is Called ProfileController.php I added
`Use use Avatar;`
Then in index method I just tried to echo like this:
`echo Avatar::create('Joko Widodo')->toBase64();`
Then the error came out!

[2020-05-30 10:48] shohanean commented on #105
Error
Class name must be a valid object or a string

[2020-05-30 10:48] shohanean commented on #105
In line:
vendor\laravolt\avatar\src\ServiceProvider.php:38

[2020-05-30 20:46] uyab commented on #105
So it is related to config file:

[code]

Could you confirm that you have that entry in config/laravolt/avatar.php ?

Or, you can check using `php artisan tinker`, what is the output of the following code:
`config(laravolt.avatar.generator)`

[2020-06-10 05:34] ctf0 opened #107 "is there a way to create an avatar out of a number ?"

[2020-06-10 05:51] uyab commented on #107
I think it is already have this functionality by default, did you try it?

[2020-06-10 06:23] ctf0 commented on #107
yes, and i got this error
[code]

[2020-06-10 06:25] uyab commented on #107
What about pass string "123" instead of int 123 ? Is it possible to do it in your code?

[2020-06-10 06:26] uyab commented on #107
Or you can cast the number into string:
[code]

[2020-06-10 06:47] ctf0 commented on #107
yeah that did work, thanx for the quick help.

[2020-06-10 06:47] #107 closed

[2020-06-19 14:21] danpalmieri commented on #66
Poor (but fast 😶) workaround:
`{!! Str::replaceFirst(' y="50"', ' y="54"', Avatar::create('Susilo Bambang Yudhoyono')->toSvg()) !!}`

[2020-06-29 15:34] anuzbvbmaniac commented on #42
This results in

Error
Class name must be a valid object or a string

I added:
Laravolt\Avatar\ServiceProvider::class, in providers

'Avatar' => Laravolt\Avatar\Facade::class, in aliases

Tried
use Avatar;
and
use Laravolt\Avatar\Facade as Avatar;
and
use Laravolt\Avatar\Avatar;

Controller:
return Avatar::create(Session::get('user')->fullName)->toBase64();

Thanks in advance for any help.

[2020-06-29 15:48] anuzbvbmaniac commented on #14
I have this error.
[code]

Thank you in advance for help

[2020-06-30 12:14] helix4d commented on #42
Laravel 6.18.22
write in config/app.php
Laravolt\Avatar\ServiceProvider::class,
'Avatar'    => Laravolt\Avatar\Facade::class,
php artisan vendor:publish --provider="Laravolt\Avatar\ServiceProvider"

use in controller
**use Laravolt\Avatar\Avatar**;
$user_image = (string) Avatar::create('text')->toBase64();
exception:
Non-static method Laravolt\Avatar\Avatar::create() should not be called staticall

[2020-06-30 15:45] dieume-n commented on #105
The output of ```php config('laravolt.avatar.generator') ``` is null

[2020-06-30 17:09] dieume-n commented on #105
Solved by running ``` php artisan config:cache ``` to clear and rebuild the configuration cache

[2020-07-04 18:44] gekkedev commented on #79
I can confirm this is fixed in newer versions.
`composer update laravolt/avatar`

[2020-07-06 16:47] omidMolaverdi opened #108 "How heavy is the process?"
I am thinking of using avatar creating on fly. I have a max of 1000 per user per refresh. How heavy is this process? do you suggest storing the images? (there is a downside to it as I have to recreate the images per user edit +a lot of little files on disk)

[2020-07-07 12:11] omidMolaverdi opened #109 "Right to left script support"
Thanks for the great package. I know that with proper fonts, the package supports right-2-left (R2L) scripts however the direction of letters on the photo is not right. Github issue does not allow me to upload a photo but the concept is easy to imagine. Let the R2L name is **wonS nhoJ** (from right to left it is John snow), then the current implementation of the picture would have JS in it that is

[2020-07-20 19:15] patrykpilek commented on #42
try like this:

$user_image = (new \Laravolt\Avatar\Avatar)->create('text')->toBase64();

[2020-08-05 08:54] omidMolaverdi commented on #109
Hi,

is there any update on this thread?

[2020-08-05 08:54] omidMolaverdi commented on #108
Hi,

is there any update on this thread?

[2020-08-07 13:31] joy2362 commented on #42
thank you brother it's working

[2020-08-08 01:50] uyab commented on #108
Hi, if you generate base64 and have cache enabled, than image generation only happen once.

[2020-09-04 11:30] kb6673 commented on #105
I solved this just like @dieume-n .

Perhaps the documentation should remind us to rebuild the config cache.

[2020-09-09 14:12] danpalmieri opened #112 "Laravel 8.x Support"
Any plans? ;-)
Thank you in advance!

[2020-09-10 07:15] neoteknic commented on #112
Maybe just need to merge my PR, it's only dependencies updates.

[2020-09-10 08:45] tumichnix commented on #112
Please merge this PR #110

[2020-09-10 17:51] uyab commented on #112
https://github.com/laravolt/avatar/releases/tag/4.0.0

Avatar ready! Build something amazing 🥳

[2020-09-10 17:51] #112 closed

[2020-09-10 17:54] uyab commented on #109
Sorry for late response. I'm not familiar with RTL, but if I understand you correctly, we just need to reverse the initials.

**normal -> RTL**
BHW       -> WHB
JS           -> SJ
A              -> A

[2020-09-10 17:57] #108 closed

[2020-09-10 17:58] #105 closed

[2020-09-10 21:19] omidMolaverdi commented on #109
@uyab yes that is right!

[2020-11-17 22:18] Rithwanul commented on #14
I am getting the same error

[2020-11-18 07:25] uyab commented on #14
@Rithwanul Did you try https://github.com/laravolt/avatar/issues/14#issuecomment-177506093 ?

[2021-02-03 20:01] abdullahessam commented on #109
@uyab  any update about the RTL vesion ?

[2021-02-03 20:38] abdullahessam commented on #106
![image](https://user-images.githubusercontent.com/24545226/106806306-74fc6380-6670-11eb-8ebd-efb16a39fa1f.png)

 Avatar::create($event->user->name)->setDimension(128)->setFontSize(64)->save($path, 100);
font name is Cairo-regular
https://fonts.google.com/specimen/Cairo?preview.text_type=custom

[2021-02-09 11:41] #109 closed

[2021-02-09 11:44] uyab commented on #109
Hi @abdullahessam, would you like to check `dev-master`, add `"rtl" => true` to your `config/laravolt/avatar.php` and check if its working?

[2021-02-11 13:54] omidMolaverdi commented on #109
wow well done

[2021-02-12 12:32] abdullahessam commented on #109
thank you @uyab  for this update i think you did n't the case well so here is an example for the problem my name is
abdullah essam so the expected letters is AE and this is happen correct but in RTL language like arabic for example
محمد عبدالله  the expected letters should be  م ع   but the actual is ع م  so we just need to auto support the rtl language i have no idea what well the users input in

[2021-02-12 16:33] uyab commented on #109
Here is sample output using `"rtl" => true` and RTL font Amiri:
![image](https://user-images.githubusercontent.com/149716/107794268-cea81080-6d89-11eb-8af2-81eb11259dbc.png)

Any screenshot or live demo are welcome, I still don't get where the problem is 🤔

Font: https://fonts.google.com/specimen/Amiri

[2021-02-13 02:05] ctf0 opened #124 "Serialization of 'GdImage' is not allowed"
after latest release, i started getting this error.

its cuzed by https://github.com/laravolt/avatar/blob/525051f0da5b887ed8aac247ca6b59693416c1dc/src/Avatar.php#L191

when using redis at https://github.com/laravel/framework/blob/4d37befac3a43e27e75725fd46f5b43de2bd7c53/src/Illuminate/Cache/RedisStore.php#L325

however the issue is not related only to redis, even with file store we can get the sam

[2021-02-15 05:52] ctf0 commented on #124
@uyab is it possible to release an alpha version without the cache line ?

[2021-02-15 05:58] dionysiosarvanitis commented on #124
@ctf0 you can do `composer require laravolt/avatar:4.0.0` instead.

[2021-02-15 06:00] ctf0 commented on #124
@dionysiosarvanitis  ah yes, totally forgot about this one, thanx for the heads up

[2021-02-15 06:04] #124 closed

[2021-02-15 06:06] uyab commented on #124
Should fixed in 4.1.1

[2021-03-08 15:04] JeffreyBool opened #125 "The background of the generated avatar is all white, how to solve it?"
The background of the generated avatar is all white, how to solve it?

[2021-03-09 15:18] uyab commented on #125
Please provide some screenshot + sample code

[2021-03-20 03:45] acirinelli opened #126 "setTheme() border size bug"
When the border size is set to `0`, setTheme does not work at all.
When the border size is set to `1`, setTheme randomly picks from colors and grayscale.
setTheme() only seems to be working correctly when using a border size of 2+

Could this be a confusion with true/false somewhere in the code?

[2021-03-25 01:23] uyab commented on #126
Patch version tagged: 4.1.2

[2021-03-25 01:42] uyab commented on #126
Sorry, I think it was by design:

[code]

[2021-03-25 02:32] acirinelli commented on #126
Looks like you may still be tweaking things, but updating to 4.1.3 seems to have resolved this issue for me.

[2021-03-25 07:01] #126 closed

[2021-03-27 11:27] brioapp commented on #125
same here, always light gray background. laravel 8

[2021-03-27 12:53] uyab commented on #125
@brioapp could you provide sample code ?

[2021-04-09 08:21] joerjoers commented on #125
### Sample Screenshot
![image](https://user-images.githubusercontent.com/4877880/114150871-1e9cf100-994f-11eb-8fa7-c10cdff1c82d.png)

### Code Snippet
`$avatarAPI = new Avatar();`
`$avatar = $avatarAPI->create($name)->setTheme('pastel')->save($fileName, 100);`

`Storage::put('avatars/' . $fileName, $avatar);`

### Environment
Laravel 8

[2021-04-09 18:12] Orest-Divintari opened #127 "config is empty when using facade"
When I use the ```Avatar``` facade to create an image, I get always the same background colour, even if I change usernames, the background colour is always grey.

However if I don't use the facade but instead I instantiate the ```Avatar``` class and pass the config in the constructor then it works properly and I get different background colour based on the given username.

[code]

I have ```Larave

[2021-05-20 10:31] Acathon commented on #125
// controller
`$avatar->create('First Last')->setTheme(['colorful', 'grayscale-dark']);`

and always is generating the same color..

//avatar.php
 // List of theme name to be used when rendering avatar
    // Possible values are:
    // 1. Theme name as string: 'colorful'
    // 2. Or array of string name: ['grayscale-light', 'grayscale-dark']
    // 3. Or wildcard "*" to use all defined themes

[2021-05-21 08:47] JeffreyBool commented on #125
Use the following method

[code]

[2021-05-21 08:47] #125 closed

[2021-06-16 00:00] uyab commented on #66
Fixed in 4.1.4

[2021-06-16 00:00] #66 closed

[2021-06-16 00:04] uyab commented on #127
Could you check if the latest version (4.1.4) still have problem with that?
Where do you call `Avatar` facade ?

[2021-06-16 00:16] uyab commented on #76
Probably related issue: https://github.com/avalanche123/Imagine/issues/32

[2021-09-02 09:59] balin09 opened #129 "Arabic (utf8) not working"
The package work with English only same problem [#69 ](https://github.com/laravolt/avatar/issues/69) and [#58 ](https://github.com/laravolt/avatar/issues/58) i try to set custom Arabic font i used  setFont method and i changed path in avatar.php but it doesn't work any help pls
I used the last version 4.1.4

[2021-09-02 10:10] uyab commented on #129
@balin09 could you provide some sample code?

[2021-09-02 12:12] balin09 commented on #129
@uyab here some code
avatar.php:

`
    'driver' => env('IMAGE_DRIVER', 'gd'),

    // Initial generator class
    'generator' => \Laravolt\Avatar\Generator\DefaultGenerator::class,

    // Whether all characters supplied must be replaced with their closest ASCII counterparts
    'ascii'    => false,

    // Image shape: circle or square
    'shape' => 'square',

    // Image width, in pixel
    '

[2021-09-02 20:18] balin09 commented on #129
anyone try this plugin and worked with Arabic language ?

[2021-09-02 23:25] uyab commented on #129
I downloaded (hopefully) the same font from https://www.fontpalace.com/font-download/tajawal-medium/ and its just works as expected.
![image](https://user-images.githubusercontent.com/149716/131928087-5eb1f615-662b-4986-8089-011f935165e4.png)

Can you validate if you have setup the fonts path correctly? Something like `dd(config('laravolt.avatar.fonts'))` and see if the output was correct.

[2021-09-02 23:25] #127 closed

[2021-09-04 14:30] balin09 commented on #129
@uyab so sorry for my late response
here my output and i also try an online font link but it didint work

![image](https://user-images.githubusercontent.com/43583431/132097939-d1e73290-5369-4b3d-a5b4-8db2b4e1376a.png)

[2021-09-04 14:56] balin09 commented on #129
@uyab So sorry for late response
my bad i get confused with font path in avatar.php i thought it was correct ...
Thanxs.

[2021-09-04 15:17] balin09 commented on #129
@uyab
So sorry for late response
my bad i get confused with font path in avatar.php i thought it was correct ..., now it worked fine when i change it.
but now i have an other problem: with arabic name it take 2 initial from first name only, exp for ( Imad Abd ) i expect [I A] but i get [Im]. it work with english fine, and thats with rtl -> true.

[2021-09-05 00:47] uyab commented on #129
You can create your own InitialGenerator class. Please check the configuration file.

[2021-09-18 09:49] #129 closed

[2021-12-02 16:04] Emokores256 commented on #42
If you're using the Inertia stack, you could make this shared so that you can use the avatar across your application. For example, if using react, you could go to `App/Http/Middleware/HandleInertiaRequests.php` and add the following block:

    public function share(Request $request)
    {
        return array_merge(parent::share($request), [
            'auth' => [
                'user' => $requ

[2022-01-23 07:39] u-nel opened #131 "Generates only default "background" and "foreground" color"
Themes doesn't apply.

[2022-01-23 07:42] #131 closed

[2022-02-08 14:00] fun4life1990 opened #133 "Laravel 9 support"
Currently I can't update to Laravel 9 because of usage laravolt/avatar
As I see there is no Laravel breaking changes found in your code, so it should be pretty easy

[2022-02-08 15:07] uyab commented on #133
New version will be tagged after Laravel 9 officially released on packagist. Meanwhile, you can use laravolt/avatar `dev-master`.

[2022-02-09 13:25] khaledelmahdi commented on #133
Laravel 9 officially released, could you please tag the new version 😇?

[2022-02-09 19:17] OryzonGroup commented on #133
Hello can you mark the version with laravel 9 support

[2022-02-09 23:27] uyab commented on #133
Tagged: https://github.com/laravolt/avatar/releases/tag/4.1.6

[2022-02-09 23:27] #133 closed

[2022-02-09 23:29] #76 closed

[2022-05-19 12:47] francoism90 opened #135 "Using SVG with & (ampersand) breaks XML"
E.g. Romeo & Juliet

[code]
Is this to be expected? Should one convert to HTML-tags/remove special symbols?

Thanks

[2022-06-06 15:07] danpalmieri commented on #76
has anyone solved?

[2022-09-20 18:50] Adedsec opened #136 "font error"
im using this pakage to generate avatar in my project and it throws Exception below :

imagettfbbox(): Could not find/open font

[2022-09-22 00:55] uyab commented on #136
@Adedsec please provide the full stack trace

[2022-09-25 15:56] wayahnawe opened #137 "got this error"
Using $this when not in object context:
![image](https://user-images.githubusercontent.com/5630952/192152920-d5af9538-2baa-478e-b19e-79138695d696.png)

[2022-09-26 00:44] uyab commented on #137
Please make sure you import the correct Facade class

[2022-10-12 10:53] shlucky90 commented on #137
use Laravolt\Avatar\Facade as Avatar;

[2022-10-26 04:15] drhardian opened #139 "error while install Laravolt"
Hi, I'm using laravel 8 and try to install laravolt, but got this error

![image](https://user-images.githubusercontent.com/18562975/197933013-8c984a01-a9fe-430c-ae3a-c23ee1c8613e.png)

[2022-11-04 23:17] uyab commented on #139
@drhardian it is related with intervention/image. What is the output of `composer depends intervention/image` in your machine?

[2022-11-04 23:18] #137 closed